/* EMILYBRANCH STYLING START */

html {
    font-family: 'Manrope', sans-serif;
  
}

body {
    font-family: 'Manrope', sans-serif;
}

h1 {
    font-size: 1.29rem;
}

h2 {
    font-size: 1rem;
}

.content {
    position: relative;
}


.backButton {
    padding: 0.125rem;
    padding-right: 3rem;
}




/* topNav styling END */

.picker {
    background-color: #E0E0E2!important;
   
    align-items: center!important;
    border-radius: 0.5rem!important; 
    justify-content: center!important;  
}

#home-tab2 {
    padding: 0.375rem 0.46875rem 0.37513rem 0.5rem;
    width: 6.3125rem;  
}

#profile-tab2 {
    padding: 0.375rem 0.46875rem 0.37513rem 0.5rem;
   
}

.segPicker {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: red;

}

.bg-primary {
    background-color: #F3F3EE!important;
}
.imgPlaceholder {
   justify-content: center!important;
   width: 100%!important;
}



.infoCard {
    padding-top: 1.87rem;
    padding-bottom: 1.87rem;
    padding-left: 1.5rem;
    background-color: white;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;
    height: fill;
   
}

.textGroup1 {
    text-align: baseline;
    align-items:center;
   
}


.time {
    height: 1rem;
    float: left;
    padding-right: .5rem;

}

.timeEst {
    display: flex;
    align-items: flex-start; 
    gap: 0.25rem;

}

.skillLevel {
    display: flex;
    align-items: flex-start;
    gap: 0.25rem;
    
    
}
.level {
    height: 1rem;
    float: left;
    padding-right: .5rem;

}

.start {
    width: 7.5rem;
    height: 3.1875rem;
    justify-content: flex-end;
    border-radius: 3.125rem;
    background: #FFF;
    border: none;
    float: right;
    
}

.btn-primary {
    font-size: 1.5rem;
    background-color: #073D3D;

}

.saveBanner {
    width: 2.5rem;
    float: right;
    
}

.bottomNav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:darkslategrey;
    padding: .5rem;
    position: fixed;
    bottom: 0;
}

.item1, .item2, .item3, .item4, .item5 {
   background-color: lightpink;
    width: 2rem;
    height: 2rem;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    margin: 0 auto;
    padding-left: 0rem;
    padding-right: 0rem;
}



/* EMILYBRANCH STYLING END */

/* PROJECT MODE STYLE START */
.alert {
    background: #073D3D;
    color: #F3F3EE;
    top: 0;
    border-radius: 15px;
    position: absolute;
    width: 100%;
    margin-top: 50px;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
 }

 .alert.showAlert {
    opacity: 1;
    pointer-events: auto;
 }

 .alert.show {
    animation: dropdown 1s ease forwards;
 }
@keyframes dropdown {
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(10%);
    }
}

.alert.hide {
    animation: hideDropdown 1s ease forwards;
}
@keyframes hideDropdown {
    0%{
        transform: translateY(10%);
    }
    100%{
        transform: translateY(0%);
    }
}

 .alert i {
    padding: 0.5rem;
 }

 .topNav .logo {
    display: none;
 }
 
 
 .topNav .projectName {
    text-align: center;
    position: absolute;
    left: 0;
    background-color: #F3F3EE;
    z-index: -1;
 }
 
 .icons {
    position: absolute;
    bottom: 550px;
    right: 70px;
    display: flex;
    flex-direction: column;
    width: 6%;
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 9999;
    gap: 10px;
 }

 .icons button {
    border-radius: 150px;
    background-color: #;
    border: none;
    text-align: center;
    width: 4rem;
    height: 4rem;
 }

 
 .carousel-indicators {
    top: 0;
 }
 
.carousel-indicators button {
    background-color: #073D3D !important;
}

 .carousel-caption {
    top: 0rem;
    z-index: 1;
    background-color: #F3F3EE;
    height: 10%;
    width: 100%;
    left: 0;
    padding: 1.5rem;
    color: #073D3D;
 }
 
 
 .c-item {
    height: 844px;
 }
 .c-img {
    object-fit: cover;
    height: 100%;
 }
 
 
 .carousel-control-prev-icon {
    display: none;
 }
 
 
 .carousel-control-next-icon {
    display: none;
 }
 
 
 .carousel-controls {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    bottom: 1px;
    padding: 1rem;
 }
 
 
 .next-button {
    padding: 0.8rem;
    border-radius: 50px;
    border: none;
    background-color: #073D3D;
    margin: 0.5rem;
    color: #F3F3EE;
    font-size: 1.5rem;
 }
 
 
 .next-button i {
    position: relative;
    top: 3px;
    font-size: 1.5rem;
 }
 
 
 .prev-button {
    padding: 0.8rem;
    border-radius: 50px;
    border: none;
    background-color: #F3F3EE;
    margin: 0.5rem;
    color: #073D3D;
    font-size: 1.5rem; 
 }
 
 
 
 
 /* PROJECT MODE STYLE END */