html {
    font-family: 'Manrope', sans-serif;
  
}

body {
    font-family: 'Manrope', sans-serif;
}

h1 {
    font-size: 1.29rem;
}

h2 {
    font-size: 1rem;
}




.backButton {
    padding: 0.125rem;
    padding-right: 4.75rem;
}

.logo {
    
}


/* topNav styling END */

.picker {
    background-color: #E0E0E2!important;
    width: 14.8125rem;
    padding: 0.125rem;
    align-items: center!important;
    border-radius: 0.5rem!important; 
    justify-content: center!important;  
}

.segPicker {
   position: relative;
   left: 4.5rem;
}

.imgPlaceholder {
   justify-content: center!important;
   width: 100%!important;
}



.infoCard {
    padding-top: 1.87rem;
    padding-bottom: 1.87rem;
    padding-left: 1.5rem;
    background-color: #white;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;
    height: fill;
   
}

.textGroup1 {
    text-align: baseline;
    align-items:center;
   
}


.time {
    height: 1rem;
    float: left;
    padding-right: .5rem;

}

.timeEst {
    display: flex;
    align-items: flex-start; 
    gap: 0.25rem;

}

.skillLevel {
    display: flex;
    align-items: flex-start;
    gap: 0.25rem;
    
    
}
.level {
    height: 1rem;
    float: left;
    padding-right: .5rem;

}

.start {
    width: 7.5rem;
    height: 3.1875rem;
    justify-content: flex-end;
    border-radius: 3.125rem;
    background: #FFF;
    border: none;
    float: right;
    
}

.btn-primary {
    font-size: 1.5rem;
    background-color: #073D3D;

}

.saveBanner {
    width: 2.5rem;
    float: right;
    
}

.bottomNav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:darkslategrey;
    padding: 1rem 0rem;
    position: fixed;
    bottom: 0;
}

.item1, .item2, .item3, .item4, .item5 {
    width: 2rem;
    height: 2rem;
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

.row {
    
}