/* EMILYBRANCH STYLING START */


html {
    font-family: 'Manrope', sans-serif;
  }
 
 
 body {
    font-family: 'Manrope', sans-serif;
    background-color: #F3F3EE;
    height: 100vh;
 }
 
 
 h1 {
    font-size: 1.29rem;
 }
 
 
 h2 {
    font-size: 1rem;
}

.content {
    position: relative;
}


.backButton {
    padding: 0.125rem;
    padding-right: 3rem;
}


.logoNav {
   padding: 1rem;
   text-align: center;
}

.logoNav svg {
   width: 50%;
   position: absolute;
   padding: none;
   left: -20%;
}

/* topNav styling END */

 .closeButton {
    position: absolute;
    left: 16px;
    top: 47px;
    z-index: 999;
 }

 .topNav {
    width: 100%;
 }
 
 
 .statusBar {
    width: 100%;
    text-align: center;
 }
 
 
 .statusBar img {
    width: 100%;
 }
 

 
 /* topNav styling END */
 
 
 .picker {
    background-color: #E0E0E2!important;
    align-items: center!important;
    border-radius: 0.5rem!important; 
    justify-content: center!important;  
    position: absolute;
    top: 1rem;
}

#home-tab2 {
    padding: 0.375rem 0.46875rem 0.37513rem 0.5rem;
    width: 6.3125rem;  
}

#profile-tab2 {
    padding: 0.375rem 0.46875rem 0.37513rem 0.5rem;
   
}


.segPicker {
   display: flex;
   justify-content: center;
    position: absolute;
   top: 7.2rem;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 14.48rem;
   line-height: .75rem;
}


.bg-primary {
    background-color: #F3F3EE!important;
}

/* now the real image */
.imgPlaceholder {
   justify-content: center!important;
   width: 100%!important;
}


/* info card styling START */
.infoCard {
    padding-top: 1.87rem;
    padding-bottom: 1.87rem;
    padding-left: 1rem;
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: absolute;
    height: fill;
    width: 100%;
 }
 
 .textGroup1 {
    text-align: baseline;
    align-items:center;
    flex-wrap: nowrap!important;
    height: 2.0625rem;
}

.cardTitle {
    flex-wrap: nowrap!important;
    overflow: hidden!important;
}


/* .time {
    height: 1rem;
    float: left;
    padding-right: .5rem;
    align-self: auto;

}

.timeEst {
    display: flex;
    align-items: flex-start;
    gap: 0.25rem;
 
 
 }
 
 
 .skillLevel {
    display: flex;
    align-items: flex-start;
    gap: 0.25rem;
 }
 .level {
    height: 1rem;
    padding-right: .25rem;
    padding-left: .25rem;
    align-self: auto;
} */

.levels {
   display: flex;
   justify-content: flex-start;
   align-items: baseline;
   font-size: 1rem;
}

.levels img {
   width: 1rem;
   vertical-align: baseline;
}

.timeAndLevel {
   display: flex;
   gap: 1rem;
}

/* start button */
.start {
    width: 5.18rem;
    height: 2.0625rem;
    border-radius: 3.125rem;
    border: none;
    float: right!important;
    font-size: 1rem!important;
    text-align: center!important;
    color: white;  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-primary {
    font-size: 1.5rem;
    background-color: #073D3D;
}

.startArrow {
    padding-left: .4rem;
    height: 0.59894rem;
    width: 1rem;
}

/* container of both the save icon and start button */
.startSave {
    flex-wrap: nowrap;
    }
 
 
 .btn-primary:hover {
    background-color:#073D3D;
 }
 
 
 .btn-primary:active {
    background-color: #073D3D !important;
 }
 
 
/* save icon */
 .saveBanner {
    width: 2.5rem; 
}


/* desctiption/materials/instructions icons */

.iconList {
   display: flex;
   padding-top: 1rem;
   justify-content: space-between!important;
  
}

.itemA, .itemB, .itemC {
    
  
}

/* description icon */
.itemA {
    
 
}
/* materials icon */

   
/*instructions icon */ 
.itemB {

}

.itemC {
   
 }
 
 
 .bottomNav {
    width: 105%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#073D3D;
    padding: .5rem;
    position: fixed;
    bottom: 0;
}
/* info card styling END */


/* bottom nav icons */
.item1, .item2, .item3, .item4, .item5 {
    width: 2rem;
    height: 2rem;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    margin: 0 auto;
    padding-left: 0rem;
    padding-right: 0rem;
}
/* EMILYBRANCH STYLING END */






/* PROJECT MODE STYLE START */

/* JAVASCRIPT ALERTS STYLE */
.handsFreeMode {
   position: absolute;
   z-index: 999;
   margin: -9rem;
   left: 50%;
   top: 50%;
   text-align: center;
}

.handsFreeMode svg {
   padding-bottom: 1rem;
}

.handsFreeButtons {
   display: flex;
   justify-content: space-between;
   width: 100%;
   font-size: 0.9rem;
}

hr.solid {
   border-top: 1px solid #073D3D;
}

.handsFreeButtons button {
   width: 100%;
   background-color: inherit;
}

.handsFreeButtons button:first-child {
   border-left: none;
   border-right: solid;
   border-bottom: none;
   border-top: none;
}

.handsFreeButtons button:nth-child(2) {
   border: none;
}


.dismiss button {
   border: none;
}

.card-body {
   border-color: inherit;
}
 
 .topNav .logo {
    display: none;
 }
 .topNav .projectName {
    text-align: center;
    position: absolute;
    left: 0;
    background-color: #F3F3EE;
    z-index: -1;
    height: 500px;
 }
 .icons {
    position: absolute;
    bottom: 550px;
    right: 70px;
    display: flex;
    flex-direction: column;
    width: 6%;
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 9999;
    gap: 10px;
 }
 
 
 .icons button {
    border-radius: 150px;
    border: none;
    text-align: center;
    width: 4rem;
    height: 4rem;
 }

 /* CARD NOTCH STYLE START */
 .cardContext {
    display: block;
    background-color: #F3F3EE;
    width: 100%;
    height: 5%;
    bottom: 0;
    margin-bottom: 0 auto;
    position: fixed;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0px -4px 10px 5px rgba(0, 0, 0, 0.5);
 }

 .notch {
    height: 10%;
    width: 40%;
    background-color: black;
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 100px;
 }
 
 /* CAROUSEL STYLE START */
 .carousel-inner {
    height: 100vh;
 }

 .carousel-item {
    height: 100vh;
 }

 .carousel-indicators {
    top: 40px;
    z-index: 999;
 }

 .carousel-indicators button {
    background-color: #073D3D !important;
    height: 20px !important;
    width: 20px !important;
    border-radius: 100px !important;
    color: #F3F3EE !important;
    text-indent: none !important;
    text-align: center !important;
 }

 .carousel-caption {
    top: -1rem;
    z-index: 1;
    background-color: #F3F3EE;
    height: 15%;
    width: 100%;
    left: 0;
    padding: 1.5rem;
    color: #073D3D;
 }
 
 .c-item {
    height: 100vh !important;
 }

 .c-img {
    object-fit: cover;
    height: 100%;
 }

 .carousel-control-prev-icon {
    display: none;
 }

 .carousel-control-next-icon {
    display: none;
 }

 .carousel-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: 15%;
    padding: 1rem;
 }

 .carousel-controls button {
    background-color:rgba(7, 61, 61, 0);
    border: none;
 }
 /* PROJECT MODE STYLE END */
 